Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

Load the Data set

In [2]:
data = pd.read_csv("Company_Data.csv")

In [3]:
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
data.shape

(400, 11)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [6]:
data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

Missing values in the data set

In [7]:
data.isnull().sum()  ##### no missing values in the dataset

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

Handeling the categorical columns

Encode the Categorical Variables

In [8]:
label_encode = LabelEncoder()

In [9]:
data["ShelveLoc"] = label_encode.fit_transform(data["ShelveLoc"])
data["Urban"]  = label_encode.fit_transform(data["Urban"])
data["US"]  = label_encode.fit_transform(data["US"])

Spliting the data into feature and target

In [10]:
x = data.drop(columns="Sales",axis=1)
y = data["Sales"]

In [11]:
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0

In [12]:
y.head()

0     9.50
1    11.22
2    10.06
3     7.40
4     4.15
Name: Sales, dtype: float64

Spliting the data set into train test split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [14]:
print(x.shape,x_test.shape,x_train.shape)

(400, 10) (80, 10) (320, 10)

In [18]:
model = RandomForestRegressor(n_estimators=50,random_state=42)
print("Model is Loaded")

Model is Loaded

In [19]:
model_train = model.fit(x_train,y_train)
print("Model is Trainned")

Model is Trainned

In [20]:
pred = model_train.predict(x_test)
print(pred)

[ 7.93    7.7858  8.0612  9.5008  7.8826 11.6572  8.5532  9.5776  8.9856
  8.262  10.8928  9.4468  4.7008  8.2512  7.7782  6.5486 11.6532  7.0794
  7.1236 10.188   6.9584  5.8704  4.9828  6.6494 10.039   9.0188  5.3984
  8.9516  7.6974  6.1104  6.0552  9.1244  7.654   9.4536 10.8504  6.7776
  9.4538  6.6348  6.5038 11.614   5.5172  7.6132  7.111   7.379   5.2774
  6.5834  9.3016  9.6992  7.5786  9.9476  4.5782  8.007   4.8688  8.7138
 10.767  10.561  10.9862  6.0216 12.43   11.8958  5.2872  6.3138  7.7772
  2.6718  5.8622  4.7966 10.0166  7.6426  8.3248  7.9768  6.808   8.09
  5.6772  7.3002  7.5016  8.5086  5.93    5.4662  6.6154 10.0904]

In [21]:
({"Actual":y_test,"Predicted":pred})

{'Actual': 94      8.39
 32      6.20
 225     6.68
 157    10.21
 356     3.58
        ...
 188     8.07
 223     3.45
 65      4.90
 262     6.37
 186     8.68
 Name: Sales, Length: 80, dtype: float64,
 'Predicted': array([ 7.93  ,  7.7858,  8.0612,  9.5008,  7.8826, 11.6572,  8.5532,
         9.5776,  8.9856,  8.262 , 10.8928,  9.4468,  4.7008,  8.2512,
         7.7782,  6.5486, 11.6532,  7.0794,  7.1236, 10.188 ,  6.9584,
         5.8704,  4.9828,  6.6494, 10.039 ,  9.0188,  5.3984,  8.9516,
         7.6974,  6.1104,  6.0552,  9.1244,  7.654 ,  9.4536, 10.8504,
         6.7776,  9.4538,  6.6348,  6.5038, 11.614 ,  5.5172,  7.6132,
         7.111 ,  7.379 ,  5.2774,  6.5834,  9.3016,  9.6992,  7.5786,
         9.9476,  4.5782,  8.007 ,  4.8688,  8.7138, 10.767 , 10.561 ,
        10.9862,  6.0216, 12.43  , 11.8958,  5.2872,  6.3138,  7.7772,
         2.6718,  5.8622,  4.7966, 10.0166,  7.6426,  8.3248,  7.9768,
         6.808 ,  8.09  ,  5.6772,  7.3002,  7.5016,  8.5086,  5.93  ,
         5.4662,  6.6154, 10.0904])}

Checking the Accuracy of the testing data

In [23]:
r2_score(y_test,pred)

0.6507600368840051